header{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6) , black) 
    , url(../images/the\ Law.jpg);
    background-position: center;
    padding-top: 150px;
    min-width:100vh;
}